{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <!-- Contenido principal -->
    <main role="main">
        <div class="container">
            <section class="text-center">
                <h1 class="cute-font-regular neon">CARRITO DE COMPRAS</h1>
                <br>
                <table class="table table-hover">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col" class="d-none d-lg-block d-lg-table-cell">Categoría</th>
                        <th scope="col">Producto</th>
                        <th scope="col" class="text-center">Precio</th>
                        <th scope="col" class="text-center d-none d-lg-block d-lg-table-cell">%Subscriptor</th>
                        <th scope="col" class="text-center d-none d-lg-block d-lg-table-cell">%Oferta</th>
                        <th scope="col" class="text-center d-none d-lg-block d-lg-table-cell">%Desc Total</th>
                        <th scope="col" class="text-center d-none d-lg-block d-lg-table-cell">Descuentos</th>
                        <th scope="col" class="text-center">Precio a pagar</th>
                        <th scope="col">Opciones</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">1234</td>
                            <td scope="col" class="d-none d-lg-block d-lg-table-cell">Hack and slash</td>
                            <td scope="col">Hi-Fi Rush</td>
                            <td scope="col" class="text-center">$50.000</td>
                            <td scope="col" class="text-center d-none d-lg-block d-lg-table-cell">5%</td>
                            <td scope="col" class="text-center d-none d-lg-block d-lg-table-cell">10%</td>
                            <td scope="col" class="text-center d-none d-lg-block d-lg-table-cell">15%</td>
                            <td scope="col" class="text-center d-none d-lg-block d-lg-table-cell">$7.500</td>
                            <td scope="col" class="text-center">$42.500</td>
                            <td scope="col">
                                <button type="button" href="#" class="btn btn-primary btn-sm">Eliminar</button>
                            </td>

                        </tr>

                        <td scope="row">1328</td>
                        <td scope="col" class="d-none d-lg-block d-lg-table-cell">Hack and slash</td>
                        <td scope="col">God of War</td>
                        <td scope="col" class="text-center">$65.000</td>
                        <td scope="col" class="text-center d-none d-lg-block d-lg-table-cell">5%</td>
                        <td scope="col" class="text-center d-none d-lg-block d-lg-table-cell">30%</td>
                        <td scope="col" class="text-center d-none d-lg-block d-lg-table-cell">35%</td>
                        <td scope="col" class="text-center d-none d-lg-block d-lg-table-cell">$22.750</td>
                        <td scope="col" class="text-center">$42.250</td>
                        <td scope="col">
                            <button type="button" href="#" class="btn btn-primary btn-sm">Eliminar</button>
                        </td>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td style="font-weight: bold">
                                    Precio sin IVA
                                </td>
                                <td>
                                    <input readonly type="text" name="sinIva" id="noiva" class="text-center" placeholder="$68.648">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td style="font-weight: bold">
                                    Valor del IVA (19%)
                                </td>
                                <td>
                                    <input readonly type="text" name="conIva" id="iva" class="text-center" placeholder="$16.102"></td>
                                <td scope="col">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td class="text-center d-none d-lg-block d-lg-table-cell"></td>
                                <td style="font-weight: bold">
                                    Total a pagar
                                </td>
                                <td><input readonly type="text" name="TotalAPagar" id="totalAPagar" class="text-center" placeholder="$84.750"></td>
                                <td scope="col">
                                </td>
                            </tr>
                        </tfoot>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary boton_registro">Pagar</button>
                        <button type="reset" class="btn btn-primary boton_registro">Cancelar compra</button>
                    </div>
                </div>

            </section>
        </div>
    </main>
{% endblock content %}