{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <h1 class="neon cute-font-regular">FICHA DE PRODUCTO</h1>
    <!--FICHA DISPONIBLE-->
    <div class="contornoFicha">
        <table>
            <tr>
                <td>
                    <img id="fotoFicha" src="img/breadfred.jpg" alt="">
                </td>
                <td style="padding-left: 20px;">
                    <span id="spanFicha" class="letra">
                        {{ producto.nombre }}
                    </span> 
                    <br>
                    <span class="letra-disponible">Disponible en bodega.</span> <br>
                    <span class="precio-real-ficha">$29.990</span>
                    <span id="spanFicha2" class="letra">
                  Descripción: <br> 
                  ¡Acompaña a Pan y Federico! Un rage game donde tendrás
                  que cooperar para saltar y escalar hasta el pico de la montaña. Eso si, 
                  tendrás que tener mucho cuidado de no caer, y no arrastrar a tu compañero 
                  pingüino camino abajo... ¿Podrás superar junto a un amigo la ruta hasta arriba?
                </span>
                    <span id="spanFicha2" class="letra"> En Stock: 10 unidades</span>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>

                </td>
            </tr>
        </table>
        <div class="btn-group">
            <a id="btnComprar" type="button" class="btn btn-sm btn-outline-secondary boton_registro">
            Comprar
          </a>
            <button type="button" class="btn btn-sm btn-outline-secondary boton_registro">
            Agregar al Carrito
          </button>
        </div>
    </div>
{% endblock content %}